<!--<!DOCTYPE html>-->

<!--<html  xmlns:th="http://www.thymeleaf.org">-->

<!--<head lang="en">-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
<!--<title th:text="${username}">xx</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1 th:text="${username}">Hello World</h1>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="${name}">3333</p>
</body>
</html>


<section class='collect-section wow fadeInUp'>
    <div class="container">
        <h2 class="h1">收藏</h2>
        <div class="row">
            <div class="col-md-6">
                <h2 class="h3">精彩评论</h2>
                <table class="table table-hover table-condensed table-striped" id="accordion-collect">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>对象</th>
                        <th>创建者</th>
                        <th>概要</th>
                    </tr>
                    </thead>
                    <tr class="bg-info">
                        <th class="comment-time">2019-05-05 21:23</th>
                        <th class="comment-obj">某雕塑</th>
                        <th class="comment-who">西西</th>
                        <th class="comment-abstract"
                            style="overflow: hidden;text-overflow:ellipsis;white-space:nowrap">
                            <a data-toggle="collapse" data-parent="#accordion-collect"
                               href="#collect-comment-0">
                            </a></th>

                    </tr>
                    <tr class="bg-warning panel-collapse collapse" id="collect-comment-0">
                        <td colspan="4">
                            <div>
                            </div>
                        </td>
                    </tr>

                    <tr class="bg-info">
                        <th class="comment-time">2019-05-05 21:23</th>
                        <th class="comment-obj">某雕塑</th>
                        <th class="comment-who">南南</th>
                        <th class="comment-abstract">
                            <a data-toggle="collapse" data-parent="#accordion-collect"
                               href="#collect-comment-1" style="overflow: hidden ;text-overflow:ellipsis">
                                Nihil anim keffiyeh helvetica
                            </a></th>

                    </tr>
                    <tr class="bg-warning panel-collapse collapse" id="collect-comment-1">
                        <td colspan="4">
                            <div>

                            </div>
                        </td>
                    </tr>

                </table>
            </div>

        </div>
    </div>
</section>

