<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/animate.min.css">
    <style>
        .left-nav {
            background-color: #ccc;
            height: 800px;
        }

        #left-content {
            margin-top: 20px;
        }

        .list-group {
            padding-left: 0;
        }

        #btngroup button {
            width: 100%;
        }

        table {
            table-layout: fixed;
            width: 900px;
            word-wrap: break-word;
            /*    超长数字单词换行*/
        }

        /*溢出显示省略号*/
        .comment-abstract {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }


    </style>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="left-nav col-md-2 wow fadeInLeft">
            <div class="text-center" id="left-content">
                <div class="list-group">
                    <img th:src= "${user.userimgsrc}" alt="用户头像" class="img-responsive img-rounded">
                </div>
                <div class="list-group">
                    <a class="list-group-item" id="nav-pInfo">个人信息</a>
                    <a class="list-group-item" id="nav-myComment">我的评论</a>
                    <!--<a class="list-group-item" id="nav-myCollection">我的收藏</a>-->
                    <!--                    展示个人收藏的他人的评论，或者雕塑缩略图-->
                </div>
                <div class="list-group">
                    <!--<a class="list-group-item" id="nav-set">设置</a>-->
                    <a class="list-group-item" id="nav-help">帮助</a>
                </div>

                <div>
                    <button class="btn btn-danger" id="exit" onclick="quit()">退出</button>
                    <button class="btn btn-success" id="enterVR" onclick="enterVR()">进入VR界面</button>
                </div>
            </div>
        </div>

        <div class="col-md-10">


            <!-- 个人信息 -->
            <section class="about-section wow fadeInUp">
                <div class="container">
                    <h2 class="h1 about-h ">个人信息</h2>
                    <div class="row">
                        <div class="col-md-6 ">
                            <h3 th:text="${user.username}" class="h1 username"></h3>

                            <table class="table">
                                <tr>
                                    <td><strong>性别</strong></td>
                                    <td th:text="${user.gender}">男</td>
                                </tr>
                                <tr>
                                    <td><strong>所在地</strong></td>
                                    <td th:text="${user.location}"></td>
                                </tr>
                                <tr>
                                    <td><strong>工作单位/学校</strong></td>
                                    <td th:text="${user.workplace}"></td>
                                </tr>
                                <tr>
                                    <td><strong>个人简介</strong></td>
                                    <td>
                                        <div th:text="${user.introduction}"></div>
                                    </td>
                                </tr>
                            </table>


                        </div>

                    </div>
                </div>
            </section>
            <!-- 评论 -->
            <section class="comment-section wow fadeInUp">
                <div class="container">
                    <h2 class="h1">我的评论</h2>
                    <div class="row">
                        <div class="col-md-6 ">
                            <table class="table table-over " id="accordion">
                                <thead>
                                <tr>
                                    <th>时间</th>
                                    <th>对象</th>
                                    <th>概要</th>
                                </tr>
                                </thead>
                                <div th:each="c:${comments}">
                                    <tr class="bg-info">
                                        <th th:text="${c.posttime}" class="comment-time"></th>
                                        <th th:text="${c.statuename}" textclass="comment-obj"></th>
                                        <th class="comment-abstract" th:text="${c.introduction}" th:id="${c.id}"
                                            onclick="handler(id)">
                                            <!--<a data-toggle="collapse" data-parent="#accordion"   onclick=></a>-->
                                        </th>
                                    </tr>
                                    <script>
                                        function handler(id) {
                                            var abst = document.getElementById(id);
                                            var comment = document.getElementById("detail" + id);
                                            if (comment.style.display === "")
                                                comment.style.display = "none";
                                            else if (comment.style.display === "none")
                                                comment.style.display = "";

                                        }
                                    </script>
                                    <tr style="display: none" class="bg-warning" th:id="'detail'+${c.id}">
                                        <th colspan="3">
                                            <div th:text="${c.introduction}">
                                            </div>
                                        </th>
                                    </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 设置-->
            <!--<section class="set-section wow fadeInUp">-->
                <!--<h2 class="h1">设置</h2>-->
                <!--<form class="form-horizontal text-left" onsubmit="return CheckPost(this);">-->
                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label for="username" class="col-md-1 control-label ">用户名</label>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-md-8">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" class="form-control" id="username" placeholder="User name">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<label for="password" class="col-md-1 control-label">密码</label>-->
                        <!--<div class="col-md-8">-->
                            <!--<input type="password" class="form-control" id="password" placeholder="Password">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-1 control-label">形象</label>-->
                        <!--<div class="col-md-8">-->
                            <!--<label for="set-role-0"> <input id="set-role-0" type="radio" name="radio-role"-->
                                                            <!--value="role-0" checked> <img src="/img/avatar2.png"-->
                                                                                         <!--alt="角色0">-->
                            <!--</label>-->
                            <!--<label for="set-role-1"> <input id="set-role-1" type="radio" name="radio-role"-->
                                                            <!--value="role-1"> <img src="/img/avatar2.png" alt="角色1">-->
                            <!--</label>-->
                            <!--<label for="set-role-2"> <input id="set-role-2" type="radio" name="radio-role"-->
                                                            <!--value="role-2"> <img src="/img/avatar2.png" alt="角色2">-->
                            <!--</label>-->
                            <!--<label for="set-role-3"> <input id="set-role-3" type="radio" name="radio-role"-->
                                                            <!--value="role-3"> <img src="/img/avatar2.png" alt="角色3">-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="set-location" class="col-md-1 control-label">所在地</label>-->
                        <!--<div class="col-md-8">-->
                            <!--<input type="text" class="form-control" id="set-location" placeholder="Location">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="set-org" class="col-md-1 control-label ">性别</label>-->
                        <!--<div class="col-md-8">-->
                            <!--<input type="text" class="form-control" id="set-org" placeholder="男/女">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="set-selfIntro" class="col-md-1 control-label text-left">个人简介</label>-->
                        <!--<div class="col-md-8">-->
                            <!--<textarea id="set-selfIntro" class="form-control"-->
                                      <!--placeholder="Your simple self-introduction etc"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-md-offset-2 col-md-10">-->
                            <!--<button type="submit" class="btn btn-default">提交</button>-->
                            <!--<button type="reset" class="btn btn-primary">重置</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</section>-->


            <!-- 帮助-->
            <section class="help-section wow fadeInUp">
                <div class="container">
                    <h2 class="h1">帮助</h2>
                </div>
            </section>


        </div>
    </div>
</div>
<script src="/js/wow.min.js"></script>
<script>
    $('.comment-section').hide();
    // $('.set-section').hide();
    // $('.collect-section').hide();
    $('.help-section').hide();
    new WOW().init();
    var zero = $("#nav-pInfo"), one = $("#nav-myComment"),
        // two = $("two#nav-myCollection"),
        // three = $('#nav-set'),
        four = $('#nav-help');
    zero.on('click', function () {
        $(".about-section").fadeIn();
        $(".comment-section").fadeOut();
        $(".set-section").fadeOut();
        $(".help-section").fadeOut();
        $(".collect-section").fadeOut();
    });
    one.on('click', function () {
        $(".comment-section").fadeIn();
        $(".about-section").fadeOut();
        $(".set-section").fadeOut();
        $(".help-section").fadeOut();
        $(".collect-section").fadeOut();
    });
    // two.on('click', function () {
    //     $(".collect-section").fadeIn();
    //     $(".about-section").fadeOut();
    //     $(".comment-section").fadeOut();
    //     $(".set-section").fadeOut();
    //     $(".help-section").fadeOut();
    // });
    // three.on('click', function () {
    //     $(".set-section").fadeIn();
    //     $(".about-section").fadeOut();
    //     $(".comment-section").fadeOut();
    //     $(".collect-section").fadeOut();
    //     $(".help-section").fadeOut();
    // });

    four.on('click', function () {
        $(".help-section").fadeIn();
        $(".about-section").fadeOut();
        $(".comment-section").fadeOut();
        $(".set-section").fadeOut();
        $(".collect-section").fadeOut();
    })
</script>

<!--<script>-->
    <!--function CheckPost(form) {-->
        <!--for (i = 0; i < form.length; i++) {-->
            <!--//form属性的elements的首字母e要小写-->
            <!--if (form.elements[i].type == "text" && form.elements[i].value == "") {-->
                <!--alert(form.elements[i].placeholder + "不能为空");-->
                <!--return false;-->
            <!--}-->
        <!--}-->

        <!--var gender = document.getElementById("set-org");-->
        <!--if (gender.value !== "男" && gender.value !== "女") {-->
            <!--alert("你只能在性别栏中输入男或女！");-->
            <!--return false;-->
        <!--}-->
    <!--}-->
<!--</script>-->

<script>
 function quit() {
     $.ajax({
         type: "get",  //数据提交方式（post/get）
         url: "/user/quit",  //提交到的url
         dataType: "json",//返回的数据类型格式
         success: function(msg){
             if (msg.code === 200){
                 alert("退出成功");
                 window.location.href = "/user/loginPage";
                 return false;
             }else {
                 alert("退出失败");
             }
         }
     });
 }

 function enterVR() {
     window.location.href = "/mainPage";
 }
</script>
</body>
<script src="/js/background.js"></script>
</html>