<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboottest1.mapper.statueMapper">

    <resultMap id="BaseResultMap" type="com.example.springboottest1.entity.Statue">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="statuename" property="statuename" jdbcType="VARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="authorintro" property="authorintro" jdbcType="VARCHAR"/>
        <result column="likenumber" property="likenumber" jdbcType="INTEGER"/>
        <result column="authorimgsrc" property="authorimgsrc" jdbcType="VARCHAR"/>
        <result column="statueimgsrc" property="statueimgsrc" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
  id,
  statuename,
  introduction,
  author,
  authorintro,
  likenumber,
  authorimgsrc,
  statueimgsrc
    </sql>


    <!-- 按雕塑名查找雕塑 -->
    <select id="findStatuerByStatuename" parameterType="java.lang.String" resultType="Statue">
        select * from statue where statuename = #{statuename}
    </select>


    <!-- 按雕塑名更新收藏数 -->
    <update id="updateStatueLikenumber" parameterType="Statue">
        update statue set likenumber=#{likenumber} where statuename= #{statuename}
    </update>

</mapper>